<div class="footer">
            
            <div class="links">    
                <div class="container">
                    <div class="lnk">
                        <h3 class="lght">
                            <i class="fa fa-book log"></i>
                            BookShop
                        </h3>
                        <p>Lorem ipsum dolor sit amet consectetuer 
                            adipiscing elit, sed diam nonummy nibh 
                            euismod tincidunt ut laoreet dolore. 
                        </p>
                        <a href="">Learn More About us</a>
                    </div>
                    <div class="lnk">
                        <h3>
                            <i class="fa fa-compass log"></i>
                             OUR MAIN OFFICE 
                        </h3>
                        <p>San Francisco, California. US</p> 
                            <p>P.o BOX: 553204 </p>
                            <p>Phone: (+1) 998 3384 </p>
                            <p>Mail: admin@bookshopcom </p>
                    </div>
                    <div class="lnk">
                        <h3>
                            <i class="fa fa-share-alt log"></i>
                            KEEP IN TOUCH WITH US   
                        </h3>
                            
                        <h4>
                            <i class="fa fa-facebook log"></i>
                            Facebook
                        </h4>
                        <h4>
                            <i class="fa fa-twitter log"></i>
                            Twitter
                        </h4>
                        <h4>
                            <i class="fa fa-google-plus  log"></i>
                            Google Plus
                        </h4>
                         
                    </div>
                    <div class="lnk">
                        <h3>
                            <i class="fa fa-info-circle log"></i>
                            INFORMATIONS 
                        </h3>
                        
                        <div class="lft">
                            <a href=""> About Us</a><br>
                            <a href="">Contact Us</a><br>
                            <a href="">FAQ</a>  
                        </div>
                        <div class="rght">
                            <a href="">Terms & Conditions</a><br>
                            <a href=""> My Account</a><br>
                            <a href="">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="cprt">
                &copy; 2016 Bookshop Pty Ltd. ALL RIGHTS RESERVED 
            </div>
        </div>