

<body>
    <div class="cont">
        <aside class="s">
            <div class="img">
                <span>Hassaan Nabil</span>
            </div>
            <div class="details">
                <i class="fa fa-user"></i>
                <p>
                    Hi! My name is Hassaan. I’m 21 and I live in Sohag.I’m interested in computer science.I can already programe in Java, C++,JavaScript and HTML. I have my own site on the internet and I have done many programes. I hope that in the future I will get a job as a computer scientist.
                </p>
            </div>

            <div class="details">
                <i class="fa fa-phone"></i>
                <p>
                    01558225726
                </p>
            </div>

            <div class="details">
                <i class="fa fa-envelope"></i>
                <p>
                    <a href="#">hassaan6666nabil@gmail.com</a>
                    <a href="#">hassaan1998nabil@gmail.com</a>
                    <a href="#">hassaan015nabil@gmail.com</a>
                </p>
            </div>

            <div class="details">
                <i class="fa fa-code"></i>
                <p>
                    Personal Skills
                </p>

                <span>HTML</span>
                <div class="progs ">
                    <div class="rate html"></div>
                    <div class="crcl"></div>
                </div>
                <span>CSS</span>
                <div class="progs ">
                    <div class="rate css"></div>
                    <div class="crcl"></div>
                </div>
                <span>JavaScript</span>
                <div class="progs ">
                    <div class="rate js"></div>
                    <div class="crcl"></div>
                </div>
                <span>Java</span>
                <div class="progs ">
                    <div class="rate java"></div>
                    <div class="crcl"></div>
                </div>
                <span>Python</span>
                <div class="progs ">
                    <div class="rate pyth"></div>
                    <div class="crcl"></div>
                </div>
                <span>C++</span>
                <div class="progs ">
                    <div class="rate cp"></div>
                    <div class="crcl"></div>
                </div>
                <span>SQL</span>
                <div class="progs ">
                    <div class="rate sql"></div>
                    <div class="crcl"></div>
                </div>
                <span>Graphics Design</span>
                <div class="progs ">
                    <div class="rate g"></div>
                    <div class="crcl"></div>
                </div>
            </div>

            <div class="details">
                <i class="fa fa-exchange"></i>
                <p>
                    Contact Us
                </p>
                <p class="soc">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-whatsapp"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-twitter"></i>
                </p>

            </div>
            <br>
            <br>
        </aside>

        <section>
            <div class="details2">
                <i class="fa fa-user"></i>
                <h3>Objective</h3>
                <h4>I hope to join a dynamic and self-esteem organization with potential for future
                growth, and contribution of new ideas. Desire a challenging position in the field of
                computer that utilities my technical and professional experience and knowledge.</h4>
            </div>
        </section>

        <section>
            <div class="details2">
                <i class="fa fa-briefcase"></i>
                <h3>Work Experience</h3>
            </div>
            <ul class="parent">
                <li class="pr">Web Designer</li>
                <ul class="ch">
                    <li>Html.</li>
                    <li>Css.</li>
                    <li>JavaScript.</li>
                    <li>JQuery.</li>
                </ul>
            </ul>
            <hr>
            <ul class="parent">
                <li class="pr">Graphic Designer</li>
                <ul class="ch">
                    <li>Matlab and Python for 2D graphic design.</li>
                    <li>Maya for 3D graphic design.</li>
                </ul>
            </ul>
            <hr>
            <ul class="parent">
                <li class="pr">GUI Designer</li>
                <ul class="ch">
                    <li>GUI designer in C#.</li>
                    <li>GUI designer in Java.</li>
                </ul>
            </ul>
            <hr>
            <ul class="parent">
                <li class="pr">Some of my work</li>
                <ul class="ch">
                    <li>Make desktop application of pharmacy depend on java & SQL Server.</li>
                    <li>Developing desktop application of ticket maintenance system depend on java & MySQL.</li>
                    <li><a href="https://hassaan2020.github.io/BS/">https://hassaan2020.github.io/BS/</a></li>
                </ul>
            </ul>
            <hr>
        </section>
<!--       EDU     -->
        <section>
            <div class="details2">
                <i class="fa fa-graduation-cap"></i>
                <h3>Education</h3>
            </div>
            <ul class="parent">
                <li class="pr">High School</li>
                <ul class="ch">
                    <li>Started in 2014.</li>
                    <li>Ended in 2016.</li>
                    <li>Get 92.3 pct.</li>
                </ul>
            </ul>
            <hr>
            <ul class="parent">
                <li class="pr">College</li>
                <ul class="ch">
                    <li>Faculty of computers and information.</li>
                    <li>Luxor university.</li>
                    <li>Study in the last year.</li>
                </ul>
            </ul>
            <hr>
            <ul class="parent">
                <li class="pr">Languages</li>
                <ul class="ch">
                    <li>Arabic.</li>
                    <li>English.</li>
                </ul>
            </ul>
            <hr>
            <ul class="parent">
                <li class="pr">Courses i learning</li>
                <ul class="ch">
                    <li><a href="https://www.youtube.com/user/OsamaElzero">https://www.youtube.com/user/OsamaElzero</a></li>

                    <li><a href="https://www.youtube.com/watch?v=oVn9XBj1mSY&list=PLHIfW1KZRIfn9BnepQuzWiM_ZPIwUDawL">https://www.youtube.com/watch?v=oVn9XBj1mSY&list=PLHIfW1KZRIfn9BnepQuzWiM_ZPIwUDawL</a></li>

                    <li><a href="https://www.youtube.com/watch?v=AlFw9C7aYIE&list=PL1DUmTEdeA6JCaY0EKssdqbiqq4sgRlUC">https://www.youtube.com/watch?v=AlFw9C7aYIE&list=PL1DUmTEdeA6JCaY0EKssdqbiqq4sgRlUC</a></li>
                </ul>
            </ul>
            <hr>
        </section>
    </div>
</body>
