

      <!--   this is header     -->
        <div class="head">
            <div class="head2">
                <div class="fixed">
                    <div class="srch">
                        <div class="container">
    <!--                        <i class="fa fa-book log"></i>-->
                            <h3>
                                <i class="fa fa-book log"></i>
                                BookShop
                            </h3>
                            
                            <i class="fa fa-bars menu"></i>
                            
                            <h3 class="forms">
                                <i class="fa fa-search"></i>
                                <input type="text" name="search" placeholder="Search over 30 million book tittle">

                                <i class="fa fa-shopping-cart"></i>
                                <i class="fa fa-user "></i>
                            </h3>    
                        </div>    
                    </div>

                    <div class="nav">
                        <div class="container">
                            <ul id="tabs">
                                <li class="l hom">Home</li>
                                <li class="l">Books</li>
                                <li class="l">Magazine</li>
                                <li class="l">Textbooks</li>
                                <li class="l">Audiobooks</li>
                                <li class="l">Recomended</li>
                                <li class="l"> Sale</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="underNave"></div>
                
                <div class="cent">
                    <div class="container">
                        <img src="../../static/super/imgs/n.png">
                        <div class="centRight">
                            <h4>back to school</h4>
                            <h1>special <span>50% off</span></h1>
                            <h2>for our student community</h2>
                            
                            <button>get the deal</button>
                        </div>
                        
                    </div>
                </div>
                
                <div class="headFeaturs">
                    <div class="container">
                        <div class="hfeat">
                            <i class="fa fa-truck"></i>
                            <h2>Quick Delivary</h2><br>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                        </div>
                        <div class="hfeat">
                            <i class="fa fa-credit-card"></i>
                            <h2>Pay with Easy</h2><br>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                        </div>
                        <div class="hfeat">
                            <i class="fa fa-tags"></i>
                            <h2>Best Deals</h2><br>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                        </div>
                        <div class="hfeat">
                            <i class="fa fa-shield"></i>
                            <h2>Secured Payment</h2><br>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
                        </div>
                    </div>    
                </div>
            </div>
        </div>